$color-blue-dry:  rgb(39, 47, 63);
$color-header-dark: #223768;
$color-header-light: rgb(213, 224, 247);
$color-logo-light: rgb(213, 224, 247);
$color-logo-dark: rgb(39, 47, 63);
$color-white: rgb(255,255,255);
$color-black: rgb(39, 47, 63);
$divider-color:rgb(232, 232, 232);

:root {
  --color:222, 100%; /*the base color*/
  --l:50%; /*the initial lightness*/

  --bg-color-alpha: rgba(128,128,128,.5);
  --color-cap:#e6c146;
  --color-page-background: #{$color-white};
  --divider-color: #{$divider-color};
  --color-header-background: #{$color-header-dark};
  --color-logo-background: #{$color-logo-light};
  --color-text: #{$color-black};
  --color-border: #{$color-blue-dry};
  --color-header-text: #{$color-white};
  --bg-tooltip: #{$color-white};
  // Variable HSL color Darkness
  --color-article: hsl(var(--color),calc(var(--l) - 40%));
}

.dark {
  --bg-color-alpha: rgba(255,255,255,.5);
  --color-cap:#e6c146;
  --color-page-background: #{$color-header-dark};
  --divider-color: #{$divider-color};
  --color-header-background: #{$color-header-light};
  --color-logo-background: #{$color-logo-dark};
  --color-text: #{$color-white};
  --color-border: #{$color-white};
  --color-header-text: #{$color-black};
  --bg-tooltip: #{$color-black};
  --color-article: hsl(var(--color),calc(var(--l) - 33%));
}